* {
  margin: 0;
  padding: 0;
}

header {
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.81);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header i {
  color: white;
  padding: 0 1.5rem;
}

header button {
  padding: 0.8rem;
  font-weight: 500;
}

#resume {
  padding: 0 2rem;
}

main {
  background-color: rgba(135, 206, 250, 0.146);
  min-height: calc(100vh - 5rem);
}

#container {
  max-width: 1280px;
  min-height: calc(100vh - 5rem);
  background-color: rgba(135, 206, 250, 0.365);
  margin: auto;
}

.card {
  max-width: 700px;
  margin: auto;
  padding: 1rem 0;
  height: 400;
}

.animated {
  border-radius: 0.5em 0.5em 0 0;
  display: block;
  box-shadow: 4px 4px 5px -2px rgba(0, 0, 0, 0.35);
}

.content {
    background-color: rgb(247, 247, 247);
    border-radius: 0 0 0.5em 0.5em;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.35);
    padding: 0.5rem 1rem;
    color: rgb(29, 29, 29);
}

.content img {
    height: 1rem;
}