* {
  margin: 0;
  padding: 0;
}

header {
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.892);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header i {
  color: white;
  padding: 0 1.5rem;
}

header button {
    padding: 0.8rem;
}

#resume {
    padding: 0 2rem;
}

main {
    background-color: rgba(135, 206, 250, 0.721);
    height: calc(100vh - 5rem);
}